{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Forum Topics</h2>
    <div class="row">
        {% for topic in topics %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0">
                <div class="card-body">
                    <h5 class="card-title">{{ topic.title }}</h5>
                    <p class="card-text">{{ topic.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
